<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipes')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="c-navbar">
    <a (click)="onSelect('recipes')">Recipes</a>
    <a (click)="onSelect('shopping-list')">Shopping List</a>
    <div class="dropdown">
        <button class="dropbtn">Manage 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="#">Save Data <i class="fa fa-save"></i></a>
        <a href="#">Fetch Data <i class="fa fa-arrow-up"></i></a>
        <a href="#">Delete Data <i class="fa fa-trash"></i></a>
        </div>
    </div> 
</div>