.c-navbar {
	.brand {
		width: 200px;
		height: inherit;
		display: inline-block;
		color: white;
		padding: 12px 12px;
		font-size: $big-font-size;
		cursor: pointer;
		.brand-logo {
			padding-right: 10px;
			vertical-align: inherit;			
		}
		&:hover {
			opacity: 0.5;
		}
	}
	margin-bottom: 30px;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	a {
		display: inline-block;
		font-size: $global-font-size;
		color: white;
		text-align: center;
		padding: 20px 16px;
		text-decoration: none !important;
		&:hover {
			color: white;
			background-color: red;
			cursor: pointer;
		}		
	}
	.dropdown {
		right: 0;
		display: inline-block;
		position: absolute;
		&:hover {
			background-color: red;
			.dropdown-content {
				display: block;
			}
		}
		.dropbtn {
			font-size: $global-font-size;
			border: none;
			outline: none;
			color: white;
			padding: 20px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}
		.dropdown-content {
			right: 0;
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
			a {
				display: block;
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
				&:hover {
					background-color: #ddd;
				}
				i {
					float: right;
				}
			}
		}
	}
	.active {
		color: white;
		background-color: red;
	}
}